# data directory
/data/

# scripts and logs
slurm_scripts
logs

# setuptools build directories
build
dist

# directories
.vscode/
.idea/
__pycache__/
.ipynb_checkpoints/
*.local/
*.eggs/
*.testing/
*.examples/
*.build/
*.dist/
*.docs/build/

# file types to ignore
*.pyc
*.egg-info
*.log
*.glp
.coverage


# Sphinx documentation
docs/_build/